[client]
default-character-set=utf8    #客户端连接编码

[mysql]
auto-rehash                   #客户端tab补全
default-character-set=utf8    #编码

[mysqld]
user=mysql                    #运行账户
port=6033                     #定义端口
log-bin=mysql-bin             #开启二进制日志
server-id=1001                #定义服务ID

binlog_format=row          # binlog类型
binlog_do_db=MDA        # 设置binlog数据库

max_allowed_packet=50M        ###最大
wait_timeout=31536000             ###等待超时默认s
interactive_timeout=31536000      ###活动超时

innodb_buffer_pool_size = 128M
join_buffer_size = 128M
sort_buffer_size = 2M
read_rnd_buffer_size = 2M

basedir=/home/mysql/mysql-5.5.61           #MYSQL根目录
datadir=/home/mysql/data      #MYSQL数据存放目录
socket=/home/mysql/6033_mysql.sock              #套接字

init_connect='SET collation_connection = utf8_unicode_ci'
init_connect='SET NAMES utf8'
character-set-server=utf8                #定义数据库默认字符 server\collation
collation-server=utf8_unicode_ci
skip-character-set-client-handshake

symbolic-links=0
innodb_use_native_aio=0

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 

lower_case_table_names = 1             #对表的大小写不敏感

[mysqld_safe]
log-error=/home/mysql/logs/err.log              #错误日志
pid-file=/home/mysql/mysqld.pid   #pid,多协议通信 tcp/sock
